*{
    margin: 0px;
    padding: 0px;
}

:root{
    --bc-color: #81BAD4;
    --title-bc-color:#456979;
}

body{
    background-color: var(--bc-color);
}

form{
    z-index:15;
    margin: 100px 0 0 -50px;
    top: 50%;
    left: 50%;
    right: 50%;
}
.container{
    width:250px; height: 250px;
    border: 2px solid grey;
    margin: 0 auto;
    border-radius: 5px; 
    padding: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    background: rgb(204, 195, 181);
    
}

.placehoder{
    width: 1px;
    height: 20px;
}

button{
    font-family : inherit;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
} 

button.norm{
    border-radius: 4px;
    font-size: 15px;
    padding: 5px 10px;
}

button.btnGuaradar{
    border-radius: 4px;
    width: 80px;
    font-size: 12px;
    padding: 4px 8px;
    color: #CF0000
}

button.btnGuaradar:disabled{
    border-radius: 4px;
    width: 80px;
    font-size: 12px;
    padding: 4px 8px;
    color: #464545
}


button:hover:enabled{
    background-color: var(--bc-color);; 
    color: white;
}

input {
    padding: 8px 10px;
    border: 2px solid #456979;
    border-radius: 2px;
    font-family : inherit;
    height: 30px;
    margin: 0;
  
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
       -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
            box-sizing: border-box;
}

.container input{
    width: 250px;
}

input.error{
    border: 2px solid red;
}

input:focus{
    border: 2px solid #91E0FF;
}


.hide{
    visibility: hidden;
}

.ent, .prod{
    display: inline-block;   
}

textarea{
    resize: vertical;
    display: inline-block;
    vertical-align: top;
    padding: 8px 10px;
    border: 2px solid #456979;
    border-radius: 2px;
    font-family : inherit;
    margin-top: -3.5px;
  
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
       -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
            box-sizing: border-box;
}
.entrada .ent p{
    font-size: 14px;
}
.entrada, .producto{
    margin: 3px;
}

.prodImgContainer  {
    display: inline-block;
    vertical-align: top;
    margin-top: -3.5px;
    height: 100px;
    width: 100px;
    border: 2px solid #456979;
    background: white;
}
.inProductImage{
    object-fit: contain;
    margin: 0;
    width: 100%;
    height: 100%;
}

#main{
    text-align: center;
    margin-left: 14vw;
    margin-top: 20px;
    width: 70%;
    background: rgb(204, 195, 181);
    padding: 20px;
    border: 2px solid grey;
    border-radius: 5px; 
}
#titulo{
    background: #795e45;
    color: white;
    padding: 20px;
}

#titulo h1{
    width: 100%;
    margin: auto;
    text-align: center;
}

#btnAgregar{
    margin: 10px;
}

.all{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.inDireccion{
    width: 15vw;
}
.inNota{
    width: 15vw;
}
.inFecha{
    min-width: 120px;
    width: 9vw;
}
.inPrecio{
    min-width: 50px;
    width: 4vw;
}

input[type=date]::-webkit-clear-button
{
    display: none; /* Hide the button */
    -webkit-appearance: none; /* turn off default browser styling */
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
input:disabled{
    background-color:rgb(226, 225, 225);
    color: rgb(143, 142, 142);
    border: 2px solid #849096;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.btnBorrar{
    color: red;
    font-weight: bold;
    border: 0px;
    border-radius: 100%;
    padding: 2px 6px;
    background: rgb(204, 195, 181);;

}
.btnBorrar:hover:enabled{
    background: red;
    color: white;
}

.imgLabel{
    cursor: pointer;
}
.imgLabel:hover{
    display: inline-block;
    vertical-align: top;
    margin-top: -3.5px;
    height: 100px;
    width: 100px;
    border: 2px solid #91E0FF;
}