<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,500">
    <script src="https://www.gstatic.com/firebasejs/4.6.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.0/firebase-storage.js"></script>
    <script src="/js/fbConfig.js"></script>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/node_modules/cropperjs/dist/cropper.js"></script>
    <link href="/node_modules/cropperjs/dist/cropper.css" rel="stylesheet">   
    <link rel="stylesheet" href="/styles/tabs.css">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Administrador</title>
</head>

<body>
    <div class="all">

        <div id="titulo">
            <h1>Administrador</h1>

        </div>

        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'Locaciones')" id="defaultOpen">Locaciones</button>
            <button class="tablinks" onclick="openTab(event, 'Productos')">Productos</button>
            <button type="button" id="btnLogout" onclick="logout()">Log out</button>
        </div>

        <div id="Locaciones" class="tabcontent">
            <div id="main">

                <div id="entradas">
                    {{#each entradas as |datos|}} {{>entrada datos = datos}} {{/each}}
                </div>

                <button id="btnAgregar" type="button" onclick="agregarEntrada()" class="norm">Agregar</button>

            </div>
            <div style="text-align:center">
                <button id="btnAnterior" type="button" onclick="paginaPrevia()">Anterior</button>
                <button id="btnSiguiente" type="button" onclick="paginaSiguiente()">Siguiente</button>
            </div>

        </div>
        <div id="Productos" class="tabcontent">
            <div id="main">

                <div id="productos">

                </div>

                <button id="btnAgregar" type="button" onclick="agregarProducto()" class="norm">Agregar</button>

            </div>
        </div>
    </div>
    <!--Hidden-->
    <div id="topKey" hidden>{{newEntTopKey}}</div>
    <div id="bottomKey" hidden>{{newEntBottomKey}}</div>
</body>
<!-- Scripts -->
<script src="/js/adminLocaciones.js"></script>
<script src="/js/adminProductos.js"></script>
<script src="/js/tabManager.js"></script>
<link rel="stylesheet" href="/styles/style.css">

</html>