<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Bootstrap Theme Simply Me</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="/styles/webStyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/web.js"></script>
</head>

<body>

    <!-- Navbar -->
    <nav id="oscuro" class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="marca" class="navbar-brand" href="#">El Bondi - Cervecería Nómade</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right smooth-scroll list-unstyled">

                    <li>
                        <a id="quienes" href="#what">QUIENES SOMOS</a>
                    </li>
                    <li>
                        <a id="donde" href="#where">DONDE ESTAMOS</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--boton para volver arriba -->
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <div class="fondo">
        <!-- First Container -->

        <div id="who" class=" container-fluid bg-1 text-center">
            <h3 class="margin"></h3>
            <img id="logo" src="/img/logo.svg" class="img-responsive margin" style="display:inline" alt="Bird" width="420" height="420">
            <h3>Estamos en:</h3>
            <h4 id="dirActual"></h4>
            <h3>¡LOS ESPERAMOS!</h3>
        </div>



        <!-- Second Container-->
        <div id="what" class="container-fluid bg-2 text-center">
            <h3 class="margin">-QUIENES SOMOS-</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
            </p>

        </div>


        <!-- Third Container (Grid) -->
        <div id="where" class="container-fluid bg-3 text-center">
            <h3 class="margin">-Hoy nos encuentran en estos lugares-</h3>
            <br>
            <div class="row-fluid">
                <div class="span8" id="map"></div>
            </div>

        </div>
    </div>
    <!-- Footer 
    <footer class="container-fluid bg-4 text-center">
        <p>Bootstrap Theme Made By <a href="https://www.w3schools.com">www.w3schools.com</a></p>
    </footer>-->
    <script src="/js/scroll.js"></script>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 600 || document.documentElement.scrollTop > 600) {
                document.getElementById("myBtn").style.display = "block";
            } else {
                document.getElementById("myBtn").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;

        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_FuI6e9zDwsKtzJAgy9OsYsswPjPB6NU&callback=init">
    </script>
</body>

</html>
<!--
    <iframe width="50%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=15+Springfield+Way,+Hythe,+CT21+5SH&aq=t&sll=52.8382,-2.327815&sspn=8.047465,13.666992&ie=UTF8&hq=&hnear=15+Springfield+Way,+Hythe+CT21+5SH,+United+Kingdom&t=m&z=14&ll=51.077429,1.121722&output=embed"></iframe>    
-->