<div id="entrada">
    <ul id="{{datos.uid}}" class="ulentrada">
        <li class="ent">
            <p>Fecha: </p>
        </li>
        <li class="ent">
            <input id="inFecha" type="date" value="{{datos.fecha}}">
        </li>
        <li class="ent">
            <p>Direccion:</p>
        </li>
        <li class="ent">
            <input id="inDireccion" type="text" value="{{datos.direccion}}">
        </li>
        <li class="ent">
            <button id="btnGuaradar">Guardar</button>
        </li>
    </ul>
</div>