<div class="entrada">
    <ul id="{{datos.uid}}" class="ulentrada">
        <li class="ent">
            <p>Fecha: </p>
        </li>
        <li class="ent">
            <input class="inFecha" type="date" value="{{datos.fecha}}">
        </li>
        <li class="ent">
            <p>Direccion:</p>
        </li>
        <li class="ent">
            <input class="inDireccion" type="text" size="100" value="{{datos.direccion}}">
        </li>
        <li class="ent">
            <button class="btnGuaradar hide" type="button" onclick="guardar($(this).parent().closest('div'))">Guardar</button>
        </li>
    </ul>
</div>