<div class="entrada">
    <ul id="{{datos.uid}}" class="ulentrada">
        <li class="ent">
            <button class="btnBorrar hide" type="button" onclick="borrarEntrada($(this).parent().closest('div'))">X</button>
        </li>
        <li class="ent">
            <input class="inFecha" type="date" value="{{datos.fecha}}" disabled placeholder="Fecha">
        </li>
        <li class="ent">
            <input class="inDireccion" type="text" value="{{datos.direccion}}" disabled placeholder="Direccion">
        </li>
        <li class="ent">
            <input class="inNota" type="text" value="{{datos.nota}}" disabled placeholder="Info extra">
        </li>
        <li class="ent">
            <button class="btnGuaradar hide" type="button" onclick="guardarEntrada($(this).parent().closest('div'))">Guardar</button>
        </li>
    </ul>
</div>